/*
* Globals
*/

$primary: #fef200;

/*
* Extrait.vue
*/

// -------------- CAROUSEL ---------------- //

/* MOBILE */
$carousel-mobile-height: 560px !important;
$carousel-mobile-width: 350px !important;
/* TABLET - LAPTOP - DESKTOP */
$carousel-tablet-and-up-height: 850px !important;
$carousel-tablet-and-up-width: 568px !important;

// -------------- ARTICLE ---------------- //

/* MOBILE */
$extraits-article-mobile-width: 350px;
/* TABLET - LAPTOP - DESKTOP */
$extraits-article-tablet-and-up-width: 658px;