//$primary: #fbea13;
//$primary: #fdfc02;
$primary: #fef200;

/* MOBILE */
$carousel-mobile-height: 560px !important;
$carousel-mobile-width: 350px !important;
/* TABLET - LAPTOP - DESKTOP */
$carousel-tablet-and-up-height: 850px !important;
$carousel-tablet-and-up-width: 568px !important;